<%- include("partials/header.ejs") -%>
<h1>About</h1>
<p><%= aboutParagraph %></p>

<div class="row">
    <div class="box-about">
        <div class="box-4">
            <h2>1 Take Notes</h2>
            <p>Capture notes quickly and organize them however you want, no matter where you are. Daily Journal remembers it all so you don’t have to.

                Whether it’s to-do’s, a reminder, or your next big idea, Daily Journal makes it easy to add and find later.</p>
        </div>
    </div>
    <div class="box-about">
        <div class="box-4">
            <h2>2 Get Organized</h2>
            <p>Your budget, recipes, articles to read — instead of using multiple apps to corral this info, keep it all in one place.

                In Daily Journal, you can create a home base for the many things going on in your life, and build it to match the way your brain works.</p>
        </div>
    </div>
    <div class="box-about">
        <div class="box-4">
            <h2>3 Track Tasks</h2>
            <p>Managing any project — from work requests to a list of chores — is a juggling act. In Daily Journal, you can get a full view of what needs to get done so no balls get dropped.

                Make simple checklists or detailed project boards to turn tasks into action.</p>
        </div>
    </div>
    <div class="box-about">
        <div class="box-4">
            <h2>4 Start Writing</h2>
            <p>Just start typing in Daily Journal and everything else fades away. We’ve designed it to help you focus on the task at hand.

                Daily Journal's writing experience is as simple or sophisticated as you need it to be — it’s a home for distraction-free thinking where you can organize your thoughts with drag-and-drop ease.</p>
        </div>
    </div>
    
</div>

<%- include("partials/footer.ejs") -%>