<%- include("partials/header.ejs") -%>

<h1>Contact</h1>
<p><%= contactParagraph %></p>

<div class="row">
    <div class="box button-box">
        <a class="btn btn-outline-primary button" button " href="https://github.com/Sukhanberliyev" role="button"><p class="button1"><i class="icon fab fa-github"></i>Github</p></a>
    </div>
    <div class="box button-box">
        <a class="btn btn-outline-primary button" button " href="https://www.linkedin.com/in/sukhanberliyev/" role="button"><p class="button1"><i class="icon fab fa-linkedin-in"></i>LinkedIn</p></a>
    </div>
    <div class="box button-box">
        <a class="btn btn-outline-primary button" button " href="mailto:sukhanberliev@gmail.com" role="button"><p class="button1"><i class="icon fas fa-envelope"></i>Email</p></a>
    </div>

</div>

<%- include("partials/footer.ejs") -%>